<%- include("partials/header.ejs") %>

<h1>Hawaii Properties</h1>

<p>Hawaii Hospitality Properties</p>

<%- include("partials/filter.ejs") %>

<ul>
	<% properties.forEach(function(prop) { %>
		<li>
			<h2><%= prop.name %></h2>
			<p>Island: <%= prop.island %></p>
			<p>Type: <%= prop.type %></p>
			<p><%= prop.description %></p>
			<p>Reviews: <%= prop.reviews.length %></p>
			<p>
				<a href="/properties/<%= prop._id %>">View Details</a>
			</p>
		</li>
	<% }); %>
</ul>

<%- include("partials/footer.ejs") %>